- ad = Ad.side(side).random
- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      var banner = $("##{side}_ad-banner"),
          image = banner.find('img'),
          load_delay = 6000,
          anim_delay = 500;
      var load_new_ad = function() {
        $.getJSON('#{random_ads_path}', {side: "#{side}"}, function(data) {
          $('<img src="'+data.src+'" />').imagesLoaded(function() {
            image.fadeTo(anim_delay, 0.2, function() {
              banner.attr('href', data.url);
              $(this).attr('src', data.src).fadeTo(anim_delay, 1, function() {
                setTimeout(load_new_ad, load_delay);
              });
            });
          });
        });
      };
      setTimeout(load_new_ad, load_delay);
    });
= link_to ad.link, :id => "#{side}_ad-banner"do
  = image_tag "#{ad.photo(200*200).url}?#{rand(1_000_000)}"