- @ads=Ad.all
- content_for :javascripts do
  :javascript
    $(document).ready(function() {
       $('#s3slider_#{side}').s3Slider({
          timeOut: 4000
       });
    });
%div{:id => "s3slider_#{side}"}
  %ul{:id => "s3slider_#{side}Content"}
    - @ads.shuffle.each do |ad|
      %li{:class => "s3slider_#{side}Image"}
        = link_to ad.link, :id => "#{side}_ad-banner"do
          = image_tag ad.photo(200*200).url
        %span
          = ad.title
    .clear{:class => "s3slider_#{side}Image" } &nbsp;
