<% content_for :body_content_title do %>
  <%= @ad.title %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @ad.title %>
    </p>
  </section>
  <section>
    <h1>Date</h1>
    <p>
      <%=raw @ad.date %>
    </p>
  </section>
  <section>
    <h1>Photo</h1>
    <p>
      <%= image_fu @ad.photo, nil %>
    </p>
  </section>
  <section>
    <h1>Content</h1>
    <p>
      <%=raw @ad.content %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="ads">
      <% @ads.each do |ad| %>
        <li>
          <%= link_to ad.title, ad_url(ad) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
