= form_for [:admin, @service] do |f|
  = render "/shared/admin/error_messages", :object => @service, :include_object_name => true
  .field
    = f.label :title
    = f.text_field :title, :class => 'larger widest'
  .field
    = f.label :price
    = render "/shared/admin/resource_picker", :f => f, :field => :price_id, :resource => @service.price
  .field
    = f.label :photo
    = render "/shared/admin/image_picker", :f => f, :field => :photo_id, :image => @service.photo, :toggle_image_display => false
  .field
    = f.label :parent
    = f.select :parent_id, nested_set_options(Service, @service) {|i| "#{'-' * i.level} #{i.title}"}, :include_blank => true
  .field
    = f.label :offer_groups
    - Offer::Group.all.each do |offer_group|
      %div
        = check_box_tag "service[offer_group_ids][]", offer_group.id, @service.offer_groups.include?(offer_group),:id => "service_offer_group_id_#{offer_group.id}"
        = label_tag "service_offer_group_id_#{offer_group.id}", offer_group.title, :class => "stripped"
  .field
    #page-tabs.clearfix.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
      %ul#page_parts
        - [:content].each_with_index do |part, part_index|
          %li{ :class => "ui-state-default #{'ui-state-active' if part_index == 0}"}
            = link_to part.to_s.titleize, "##{part}"
      #page_part_editors
        - [:content].each do |part|
          .page_part{ :id => part }
            = f.text_area part, :rows => 20, :class => 'wymeditor widest'
  = render "/shared/admin/form_actions", :f => f, :continue_editing => false, :delete_title => t('delete', :scope => 'admin.services.service'), :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @service.title)
- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      page_options.init(false, '', '');
    });