#records.tree
  - if searching?
    %h2= t('shared.admin.search.results_for', :query => params[:search])
  - if @services.any?
    = render 'sortable_list'
  - else
    %p
      - unless searching?
        %strong= t('.no_portfolio_entries_yet')
      - else
        = t('shared.admin.search.no_results')
#actions
  %ul
    %li= render "/shared/admin/search", :url => admin_services_url
    %li= link_to t('.create_new_service'), new_admin_service_url, :class => "add_icon"
    - if @services.many? and !searching?
      %li
        = link_to t('.reorder_services'), "", :id => "reorder_action", :class => "reorder_icon"
        = link_to t('.reorder_services_done'), "", :id => "reorder_action_done", :style => "display: none;", :class => "reorder_icon"
- content_for :head_after_javascript_libraries, javascript_include_tag('refinery/nestedsortables.js') if Refinery.version < '0.9.9'
= render "/shared/admin/make_sortable", :tree => true if @services.many?
