- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      function Reset(service){
         this.properties = function() {
            service.find('.properties_container').slideUp();
            service.find('.type_container').slideUp();
        };
      };
      
      function Draw(scope){
        var offers_types_select = scope.find('select.offer-types'),
            type_container = scope.find('.type-container'),  
            properties_container = scope.find('.properties-container'),  
            discounts = scope.find('.discounts-container'),
            reset = new Reset(scope);   
        
        this.properties = function(){
          if (offers_types_select.val() != ''){
             $.getJSON("#{service_offer_groups_type_path}", { id: offers_types_select.val() }, function(type){
                if (!type){
                  reset.properties();
                  return false;
                }            
                var offers_type = '<div class="offer-type">';
                offers_type +='<p>'+type.description;
                offers_type +='</p>';  
                type_container.html(offers_type);
                type_container.stop(true,true).slideDown();
              });
              
            $.getJSON("#{service_offer_groups_properties_path}", { id: offers_types_select.val() }, function(properties){
              if (!properties || properties.length == 0){
                reset.properties();
                return false;
              }            
              
              offers_options = '<table class="offer-props">';
              offers_options +='<tr>';
              for (var i=0; i < properties.length; i++) {
                var property = properties[i];
                offers_options += '<th>'+property.title+'</th>';
              };
              offers_options +='</tr>';
              offers_options +='<tr>';
              for (var i=0; i < properties.length; i++) {
                var property = properties[i];
                offers_options +='<td>';
                for (var ii=0; ii < property.offer_property_options.length; ii++) {
                  var option = property.offer_property_options[ii];
                  offers_options += ' —'+option.title+'; </br>';
                };
                
              offers_options +='</td>';
              };
              offers_options +='</tr>'; 
              offers_options +='</table>'; 
              var suffix = offers_types_select.find('option:selected').data('suffix');
              for (var j=0; j < properties.length; j++) { 
                var property = properties[j];
                 for (var ik=0; ik < property.offer_type_property_discounts.length; ik++) {
                    var discount = property.offer_type_property_discounts[ik];
                    offers_options += '<div style="color:gray;"><i>* При заказе более<span class="limit">'+discount.limit+'</span> ' + suffix + ' начисляется скидка <span class="percent">'+discount.percent+'</span> %.</i></div>'; 
                  };
              };
              properties_container.html(offers_options);
              properties_container.stop(true,true).slideDown();
            });
          } else {
            reset.properties();
          }
        };
      }
      
      $('select.offer-types').live('change', function(){
        new Draw($(this).parents('.offer-container')).properties();
      });
     });

- content_for :title, @offer_group.title
- content_for :body_content_title, @offer_group.title

= render "/shared/content_page"

#offer_group
  .content.white-pad
    = image_fu @offer_group.photo, '320x140>', :class => 'partner-image', :style => 'float:right;margin-left:15px;'
    = raw @offer_group.content
    .clearfix
    

- if @offer_group.offers.any?
  - @offer_group.offers.each do |offer|
    %div{:id=>"#offer-#{offer.id}"}
      .content.white-pad
        .offer-container
          %h3= offer.title
          = image_fu offer.photo, '160x70>', :style => 'float:right;margin-left:15px;margin-top:-40px;'
          %select.offer-types{:id => "offer-type-#{offer.id}", :'data-id' => offer.id }
            %option{ :value => '' } Выберите Тип
            - offer.offer_types.each do |type|
              %option{ :value => type.id }= type.title
          = button_to "Рассчитать стоимость", "/calculator",  :method => :get
          .type-container{ :style => "display:none;" }
          .properties-container{ :style => "display:none;" }
          .discounts-container{ :style =>"display:none;" }
        .envelope