- content_for :title, @offer_group.title
- content_for :body_content_title, @offer_group.title

= render "/shared/content_page"

#offer_group
  .content.white-pad
    = image_fu @offer_group.photo, '320x140>', :class => 'partner-image', :style => 'float:right;margin-left:15px;'
    = raw @offer_group.content
    .clearfix

  - if @offer_group.offer_prices && @offer_group.offer_prices.any?
    %ul.offer_prices
      - @offer_group.offer_prices.each do |offer_price|
        %li.white-pad
          = image_fu(offer_price.offer.photo, '210x90>', :style => 'float:right;margin-left:5px;') if offer_price.offer.photo
          %h4= offer_price.offer.title
          .clearfix