.content
  .service
    %h3= link_to "Полный список предлагаемых услуг", services_path
    %ul
      %li
        %h5 Разработка
        %ul
          %li= link_to "нейминг, разработка названия", "http://www.sunday.com.ua/services/branding.html", :target => "_blank"
          %li= link_to "позиционирование", "http://www.sunday.com.ua/services/branding.html", :target => "_blank"
          %li= link_to "создание бренда", "http://www.sunday.com.ua/services/branding.html", :target => "_blank"
          %li= link_to "разработка логотипа", "http://www.sunday.com.ua/services/logo-style.html", :target => "_blank"
          %li= link_to "разработка фирменного стиля", "http://www.sunday.com.ua/services/logo-style.html", :target => "_blank"
          %li= link_to "разработка торговой марки", "http://www.sunday.com.ua/services/branding.html", :target => "_blank"
          %li= link_to "дизайн упаковки, этикетки", "http://www.sunday.com.ua/services/design_pack.html", :target => "_blank"
          %li= link_to "дизайн каталогов, буклетов", "http://www.sunday.com.ua/services/design_polygraphy.html", :target => "_blank"
          %li= link_to "дизайн календарей", "http://www.sunday.com.ua/services/design_polygraphy.html", :target => "_blank"
          %li= link_to "дизайн полиграфии", "http://www.sunday.com.ua/services/design_polygraphy.html", :target => "_blank"
          %li= link_to "web-дизайн, разработка сайта", "http://www.sunday.com.ua/services/site.html", :target => "_blank"
          %li= link_to "рекламный дизайн", "http://www.sunday.com.ua/services/reklama.html", :target => "_blank"
      %li
        %h5 Размещение
        %ul
          %li реклама в прессе
          %li реклама на ТВ
          %li реклама на радио
          %li реклама в метро
          %li наружная реклама
          %li полиграфия
          %li сувенирная продукция
      %li
        %h5 Продвижение
        %ul
          %li= link_to "бренд-консалтинг", "", :target => "_blank"
          %li= link_to "креатив, идеи продвижения", "", :target => "_blank"
          %li= link_to "стратегия продвижения", "", :target => "_blank"
          %li= link_to "комплексное продвижение бренда", "", :target => "_blank"
          %li= link_to "выведение товаров/услуг на рынок", "", :target => "_blank"
          %li= link_to "формирование каналов коммуникаций", "", :target => "_blank"
      %li
        %h5 Продукция
        %ul
          %li оформление торговых точек
          %li подготовка к выставкам
          %li ежедневники, ручки с логотипом
          %li сувенирная продукция с логотипом
          %li корпоративные и деловые подарки
  .map
    %h3= link_to "Мы на карте", "#"
    = image_tag('map.png')
    %br
    %br
    %br
    %br
    %br
    %br

    = link_to 'Project studio - GAGARIN', 'http://gagarin.in.ua', :target => '_blank'
    
  .contacts
    %h5 Наши контакты
    .content=raw RefinerySetting.find_or_set(:footer_contacts, "Footer contacts")
    %br
    %br
    .copyright Copyright © Капитан, 2011
    %br
    %br
    .social
      %h5 Социальные сети
      .icons
        = link_to image_tag('vkontakte.png'), RefinerySetting.find_or_set(:vkontake_link, 'http://vkontakte.ru'), :target => '_blank'
        = link_to image_tag('facebook.png'), RefinerySetting.find_or_set(:facebook_link, 'http://facebook.com'), :target => '_blank'
        = link_to image_tag('twitter.png'), RefinerySetting.find_or_set(:twitter_link, 'http://twitter.com'), :target => '_blank'
  .clearfix
    