.content
  .service
    %h3= link_to "Полный список предлагаемых услуг", services_path
    %ul
      %li
        %h5 Разработка
        %ul
          %li нейминг, разработка названия
          %li позиционирование
          %li создание бренда
          %li разработка логотипа
          %li разработка фирменного стиля
          %li разработка торговой марки
          %li дизайн упаковки, этикетки
          %li дизайн каталогов, буклетов
          %li дизайн календарей
          %li дизайн полиграфии
          %li web-дизайн, разработка сайта
          %li рекламный дизайн
      %li
        %h5 Размещение
        %ul
          %li реклама в прессе
          %li реклама на ТВ
          %li реклама на радио
          %li реклама в метро
          %li наружная реклама
          %li полиграфия
          %li сувенирная продукция
      %li
        %h5 Продвижение
        %ul
          %li бренд-консалтинг
          %li креатив, идеи продвижения
          %li стратегия продвижения
          %li комплексное продвижение бренда
          %li выведение товаров/услуг на рынок
          %li формирование каналов коммуникаций
      %li
        %h5 Продукция
        %ul
          %li оформление торговых точек
          %li подготовка к выставкам
          %li ежедневники, ручки с логотипом
          %li сувенирная продукция с логотипом
          %li корпоративные и деловые подарки
  .map
    %h3 Мы на карте
    = link_to image_tag('map.png'), Page.find(46).url
    %br
    %br
    %br
    %br
    %br
    %br
    %br

    = link_to 'Project studio - GAGARIN', 'http://gagarin.in.ua', :target => '_blank'
    
  .contacts
    %h5 Наши контакты
    .content=raw RefinerySetting.find_or_set(:footer_contacts, "Footer contacts")
    %br
    %br
    .copyright Copyright © Капитан, 2011
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    %br
    .social
      %h5 Социальные сети
      .icons
        = link_to image_tag('vkontakte.png'), RefinerySetting.find_or_set(:vkontake_link, 'http://vkontakte.ru'), :target => '_blank'
        = link_to image_tag('facebook.png'), RefinerySetting.find_or_set(:facebook_link, 'http://facebook.com'), :target => '_blank'
        = link_to image_tag('twitter.png'), RefinerySetting.find_or_set(:twitter_link, 'http://twitter.com'), :target => '_blank'

  .clearfix
- content_for :javascripts do
  :javascript
    function BM_Draw(oBM_STAT){
    document.write('<div class="bigmir"><table cellpadding="0" cellspacing="0" border="0" style="display:inline;margin-right:4px;"><tr><td><div style="margin:0px;padding:0px;font-size:1px;width:88px;"><div style="background:url(\'http://i.bigmir.net/cnt/samples/diagonal/b60_top.gif\') no-repeat bottom;"> </div><div style="font:10px Tahoma;background:url(\'http://i.bigmir.net/cnt/samples/diagonal/b60_center.gif\');"><div style="text-align:center;"><a href="http://www.bigmir.net/" target="_blank" style="color:#0000ab;text-decoration:none;font:10px Tahoma;">bigmir<span style="color:#ff0000;">)</span>net</a></div><div style="margin-top:3px;padding: 0px 6px 0px 6px;color:#426ed2;"><div style="float:left;font:10px Tahoma;">'+oBM_STAT.hosts+'</div><div style="float:right;font:10px Tahoma;">'+oBM_STAT.hits+'</div></div><br clear="all"/></div><div style="background:url(\'http://i.bigmir.net/cnt/samples/diagonal/b60_bottom.gif\') no-repeat top;"> </div></div></td></tr></table></div>');
    }
  :javascript
    bmN=navigator,bmD=document,bmD.cookie='b=b',i=0,bs=[],bm={o:1,v:16894986,s:16894986,t:0,c:bmD.cookie?1:0,n:Math.round((Math.random()* 1000000)),w:0};
    for(var f=self;f!=f.parent;f=f.parent)bm.w++;
    try{if(bmN.plugins&&bmN.mimeTypes.length&&(x=bmN.plugins['Shockwave Flash']))bm.m=parseInt(x.description.replace(/([a-zA-Z]|\s)+/,''));
    else for(var f=3;f<20;f++)if(eval('new ActiveXObject("ShockwaveFlash.ShockwaveFlash.'+f+'")'))bm.m=f}catch(e){;}
    try{bm.y=bmN.javaEnabled()?1:0}catch(e){;}
    try{bmS=screen;bm.v^=bm.d=bmS.colorDepth||bmS.pixelDepth;bm.v^=bm.r=bmS.width}catch(e){;}
    r=bmD.referrer.slice(7);if(r&&r.split('/')[0]!=window.location.host){bm.f=escape(r);bm.v^=r.length}
    bm.v^=window.location.href.length;for(var x in bm) if(/^[ovstcnwmydrf]$/.test(x)) bs[i++]=x+bm[x];
    bmD.write('<sc'+'ript type="text/javascript" language="javascript" src="http://c.bigmir.net/?'+bs.join('&')+'"></sc'+'ript>');