.content
  .service
    %h3= link_to "Полный список предлагаемых услуг", services_path
    %ul
      %li
        %h5 Разработка
        %ul
          %li нейминг, разработка названия
          %li позиционирование
          %li создание бренда
          %li разработка логотипа
          %li разработка фирменного стиля
          %li разработка торговой марки
          %li дизайн упаковки, этикетки
          %li дизайн каталогов, буклетов
          %li дизайн календарей
          %li дизайн полиграфии
          %li web-дизайн, разработка сайта
          %li рекламный дизайн
      %li
        %h5 Размещение
        %ul
          %li реклама в прессе
          %li реклама на ТВ
          %li реклама на радио
          %li реклама в метро
          %li наружная реклама
          %li полиграфия
          %li сувенирная продукция
      %li
        %h5 Продвижение
        %ul
          %li бренд-консалтинг
          %li креатив, идеи продвижения
          %li стратегия продвижения
          %li комплексное продвижение бренда
          %li выведение товаров/услуг на рынок
          %li формирование каналов коммуникаций
      %li
        %h5 Продукция
        %ul
          %li оформление торговых точек
          %li подготовка к выставкам
          %li ежедневники, ручки с логотипом
          %li сувенирная продукция с логотипом
          %li корпоративные и деловые подарки
  .map
    %h3 Мы на карте
    = link_to image_tag('map.png'), Page.find(46).url
    %br
    %br
    %br
    %br
    %br
    %br
    %br

    = link_to 'Project studio - GAGARIN', 'http://gagarin.in.ua', :target => '_blank'
    
  .contacts
    %h5 Наши контакты
    .content=raw RefinerySetting.find_or_set(:footer_contacts, "Footer contacts")
    %br
    %br
    .copyright Copyright © Капитан, 2011
    %br
    %br
    %br
    %br
    .social
      %h5 Социальные сети
      .icons
        = link_to image_tag('vkontakte.png'), RefinerySetting.find_or_set(:vkontake_link, 'http://vkontakte.ru'), :target => '_blank', :rel => "nofollow"
        = link_to image_tag('facebook.png'), RefinerySetting.find_or_set(:facebook_link, 'http://facebook.com'), :target => '_blank', :rel => "nofollow"
        = link_to image_tag('twitter.png'), RefinerySetting.find_or_set(:twitter_link, 'http://twitter.com'), :target => '_blank', :rel => "nofollow"
        %br
      .bigmir
        %br
        = raw RefinerySetting.find_or_set(:bigmir_counter, '')
        