#left_menu
  = form_tag search_url, :id => 'search-bar' do
    = text_field_tag :query, {}, {:value => (params[:query] if params[:query]), :placeholder => 'поиск'}
    = submit_tag ""
  %ul
    %li
      - if account_signed_in?
        = link_to "Личный кабинет", cabinet_root_path
      - else
        = link_to "Вход в личный кабинет", new_account_session_path
    - Page.where(:show_in_left_menu => true).order('lft').each do |page|
      %li= link_to page.title, page.url
- unless @show_bottom_part
  .ad
    = render "ads/ad", :side => :left
  %br
  %h2= link_to 'Новости', news_items_path
  %ul.news
    - NewsItem.limit(2).each do |news|
      %li
        %h5= link_to news.title, news
        .content= truncate_html(news.content.html_safe, :length => 300)
    