:ruby
  packages = order.data.map{|i| i if i[:type] == 'package' }.compact
  offers = order.data.map{|i| i if i[:type] == 'offer' }.compact


- if packages.any?
  - packages.each do |package|
    %table
      %tr
        - pack = Service::Package.find(package[:id])
        %td= pack.title
        
    %strong.price= "Сумма заказа: #{order.price} грн"

- if offers.any?
  %br
  - offers.each do |offer|
    %table.orders-gut
      - offerdb = Offer.find(offer[:id])
      %caption="#{offerdb[:title]} #{offerdb[:offer_type]}"
      %tr
        %th="Cвойство  предложения"
        %th= "Выбранная опция"
      - offer[:properties].each do |property|
        %tr
          - prop = Offer::Type::Property.find(property[0])
          %td= prop[:title]
          - option = Offer::Type::Property::Option.find(property[1])
          %td= option[:title]
    
    %strong.price= "Сумма заказа: #{order.price} грн"
      
      
  