.nested-fields
  = f.label :limit, :class => "stripped"
  = f.text_field :limit
  = f.label :percent, :class => "stripped"
  = f.text_field :percent
  = link_to_remove_association t('.remove_discount'), f