<ul>
  <% if Admin::NewsItemsController.searchable? %>
    <li>
      <%= render :partial => "/shared/admin/search",
                  :locals => {
                    :url => admin_news_items_url
                  } %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), new_admin_news_item_url,
                 :class => "add_icon" %>
  </li>
<% if !searching? and Admin::NewsItemsController.sortable? and NewsItem.count > 1 %>
  <li>
    <%= link_to t('.reorder', :what => "News Items"),
                 admin_news_items_url,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "News Items"),
                 admin_news_items_url,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>

<%= link_to t('.parse_news'), {:action => 'parse_news'}, :class => 'button' %>