- content_for :javascripts do
  :javascript
    $(document).ready(function(){
      $('#cart').scrollfollow();
      
      $('.spoiler').click(function() {
        var spoiler = $(this),
            service = spoiler.prev('.content').find('.service-container');
      
        if (spoiler.hasClass('open')){
          spoiler.removeClass('open');
          service.slideUp();
        } else {
          $('.spoiler').removeClass('open');
          $('.service-container').slideUp();
          spoiler.addClass('open');
          service.slideDown();
        }
      }).filter(':first').click();
      
      $('#calculator .service-title').click(function() {
        $(this).parent().next('.spoiler').click();
      });
      
      function Reset(service){
        this.offers = function() {
          service.find('.offers-container').slideUp();
          this.types();
        };
        
        this.types = function() {
          service.find('.types-container').slideUp();
          this.properties();
        };
        
        this.properties = function() {
          service.find('.properties-container').slideUp();
          service.find('.price.property').slideUp();
          if (service.find('.add_to_cart.properties').is(':visible'))
            service.find('.add_to_cart.properties').hide('slide').unbind();
        };
      };
      
      function Draw(scope){
        var offer_groups_select = scope.find('select.offer_groups'),
            offers_container = scope.find('.offers-container'),
            offers_select = scope.find('select.offers'),
            types_container = scope.find('.types-container'),
            types_selects = types_container.find('select.type'),
            properties_container = scope.find('.properties-container'),
            discounts = scope.find('.discounts-container'),
            properties_selects = properties_container.find('select.property'),
            price = scope.find('.price.property'),
            price_holder = price.find('.price_holder'),
            add_to_cart_button = scope.find('.add_to_cart.properties'),
            reset = new Reset(scope);        
        
        this.offers = function(){
          if (offer_groups_select.val() != ''){
            $.getJSON("#{calculator_offers_path}", { id: offer_groups_select.val() }, function(offers){
              if (!offers || offers.length == 0){
                reset.offers();
                return false;
              }
              var offers_options = '<option value="">Выберите услугу</option>';
              for (var i=0; i < offers.length; i++) {
                var offer = offers[i];
                offers_options += '<option value="'+offer.id+'" data-quantity="'+offer.quantity+'" data-suffix="'+offer.suffix+'">'+offer.title+'</option>';
              };
              offers_container.stop(true,true).slideDown();
              offers_select.html(offers_options);
            });
          } else {
            reset.offers();
          }
        };
        
         this.types = function(){
            if (offers_select.val() != ''){
              $.getJSON("#{calculator_types_path}", { id: offers_select.val() }, function(types){
                if (!types || types.length == 0){
                  reset.types();
                  return false;
                }
                types_html='<div class="field"> \
                      <label for="type">Подтип</label>';
                var types_options = ' <select id="type" class="type"> <option value="">Выберите подтип услуги</option>';
                for (var i=0; i < types.length; i++) {
                  var type = types[i];
                  types_options += '<option value="'+type.id +'">'+type.title+'</option>';
                };
                types_html+=types_options;
                types_html += '</select></div>';
                types_container.html(types_html).stop(true,true).slideDown();
                
              });
            } else {
              reset.types();
            }
          };
        
        this.properties = function(){
          if (types_selects.val() != ''){
            $.getJSON("#{calculator_properties_path}", { id: types_selects.val() }, function(properties){
              if (!properties || properties.legnth == 0){
                reset.properties();
                return false;
              }
              var properties_html = '';
              var suffix = offers_select.find('option:selected').data('suffix');
              for (var i=0; i < properties.length; i++) {
                var property = properties[i];
                properties_html += ' \
                                  <div class="field"> \
                    <label for="property_'+property.id+'">'+property.title+'</label> \
                    <select id="property_'+property.id+'" class="property" data-id="'+property.id+'"> \
                    <option value="">..</option> \
                ';
                for (var ii=0; ii < property.offer_property_options.length; ii++) {
                  var option = property.offer_property_options[ii];
                  properties_html += '<option value="'+option.price+'" data-id="'+option.id+'">'+option.title+'</option>';
                };
                properties_html += '</select></div>';
                var discounts_html='';
                for (var ik=0; ik < property.offer_type_property_discounts.length; ik++) {
                  var discount = property.offer_type_property_discounts[ik];
                  properties_html += '<div style="color:gray;"><i>* При заказе более<span class="limit"> '+discount.limit+'</span> ' + suffix + ' начисляется скидка <span class="percent">'+discount.percent+'</span> %.</i></div>'; 
                  discounts_html+='<span class="limit">'+discount.limit+'</span><span class="percent">'+discount.percent+'</span>';
                };      
                discounts.html(discounts_html);             
              };
              var quantity = offers_select.find('option:selected').data('quantity');
              properties_html += '\
                <div> \
                  за \
                  <input type="text" class="offer-quantity" value="'+quantity+'" id="offer_'+offers_select.val()+'_quantity"/> \
                  <label for="offer_'+offers_select.val()+'_quantity">'+suffix+'</label> \
                </div> \
              ';
              properties_container.html(properties_html).stop(true,true).slideDown().find('.offer-quantity').jStepper({minValue:1, allowDecimals:false});
              price.stop(true,true).slideDown();
              price_holder.html('0.00');
            });
          } else {
            reset.properties();
          }
        };
        
        this.price = function(property_select) {
          var not_all_selected = false,
              total_price = 0.00;
          
          scope.find('select.property').each(function() {
            if ( this.value && this.value != '' ){
              var price_value = parseFloat(this.value);
              if (price_value != NaN)
                total_price += price_value
            } else {
              not_all_selected = true;
            }
          });
          var offer_quantity = parseInt(offers_select.find('option:selected').data('quantity'), 10),
              quantity = parseInt(scope.find('.offer-quantity').val(), 10), 
          total_price = ( total_price * ( parseInt(quantity, 10) / parseInt(offer_quantity, 10) ) ).toFixed(2);  
          
          if (discounts.children('.limit').length > 0) {
            var percent_value=0;
           discounts.children('.limit').each(function() {
              if ($(this).text() && $(this).text()!='') {
                var limit_value = parseInt($(this).text());
                  if (limit_value != NaN && quantity > limit_value){
                    var percent = $($(this).next('.percent')).text();
                    percent_value= parseInt(percent);
                  } 
                }
            });
            total_price = total_price*(1 - percent_value/100);
          }
          price_holder.html(total_price);
          
          if (not_all_selected){
            if (add_to_cart_button.is(':visible'))
              add_to_cart_button.hide('slide').unbind();
          } else {
            if (add_to_cart_button.is(':hidden'))
              add_to_cart_button.show('slide').bind('click',function() {
                var offer = {
                  id: offers_select.val(),
                  type: 'offer',
                  offer_type: types_selects.val(),
                  quantity: scope.find('.offer-quantity').val(),
                  properties: {}
                };
                properties_selects.each(function() {
                  offer.properties[$(this).data('id')] = $(this).find('option:selected').data('id');
                });
                $.ajax({
                  url: "#{cart_index_path}",
                  type: "POST",
                  dataType: "script",
                  data: { item: offer }
                });
              });       
          }
        };
        
      }
            
      $('select.offer_groups').live('change', function() {
        new Draw($(this).parents('.service-container')).offers();
      });
      $('select.offers').live('change', function(){
        new Draw($(this).parents('.service-container')).types();
      });
      $('select.type').live('change', function() {
        new Draw($(this).parents('.service-container')).properties($(this));
      });
      $('select.property, .offer-quantity').live('change keyup', function() {
        new Draw($(this).parents('.service-container')).price($(this));
      });
      $('.order-button').live('click', function() {
        $.ajax({
          url: "#{order_path}",
          type: "POST",
          dataType: "script"
        });
      });
            
    });

#calculator-page
  .left
    = render '/shared/content_page'
    #calculator
      - Service.all.each do |service|
        .content.white-pad
          %h3.service-title= service.title
          .service-container{ :style => 'display:none;'}
            %h4 Расчет индивидуального заказа
            .field.offer_groups-container
              = label_tag "service_#{service.id}_offer_groups", "Тип"
              %select.offer_groups{ :id => "service_#{service.id}_offer_groups", :'data-id' => service.id }
                %option{ :value => '' } Выберите Тип
                - service.offer_groups.each do |offer_group|
                  %option{ :value => offer_group.id }= offer_group.title
            .field.offers-container{ :style => "display:none;" }
              = label_tag "service_#{service.id}_offers", "Услуги"
              %select.offers{ :id => "service_#{service.id}_offers" }
            .types-container{ :style => "display:none;" }
            .properties-container{ :style => "display:none;" }
            .discounts-container{ :style =>"display:none;" }
            .price.property{ :style => 'display:none;' }
              Сумма:
              %span.price_holder 0.00
              грн.
            .add_to_cart.properties.button{ :style => 'display:none;' } Заказать
            .clearfix
            %br
            
            %h4= "Воспользуйтесь готовыми предложениями!" unless service.service_packages.blank?
            .packages-container
              - service.service_packages.each do |package|
                .package
                  %h5= package.title
                  =raw package.content
                  .price.package-price
                    %span.price_holder= package.price
                    грн.
                  = form_for :item, :url => '/cart', :remote => true, :html => {:'data-type' => :script} do |f|
                    = f.hidden_field :type, :value => 'package'
                    = f.hidden_field :id, :value => package.id
                    = f.submit 'Заказать', :class => 'add_to_cart package button'
                  .clearfix
                .clearfix
                %br
        .spoiler
          .arrow
          .clearfix
  .right
    #cart
      .title Корзина рекламодателя
      .items= cart_items
      .order-total-price
      
  .clearfix